.navbar {
    /* background-color: rgb(49, 45, 45); */
    background-color: rgb(233, 240, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 4rem;
    /* border-radius: 2px; */
}

.navbar_div {
    display: flex;
    align-items: center;
    margin-left: 0;
    width: 150%;
    height: 50%;
}

.navbar-logo {
    height: 200%;
    margin-right: 0;
}

.navbar-logo3 {
    height: 200%; /* Keep the height as is */
    width: auto; /* Maintain the original width */
    margin-right: 0;
}


.navbar-logo2 {
  
    margin-left: auto; /* Push this element to the far right */
    height: 200%;
}

.navbar-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(13, 13, 13);
    margin-left: 0;
    flex-grow: 1;
    text-align: center;
}

.navcomponents {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navcomponents li {
    margin-right: 40px;
}

.navcomponents a {
    text-decoration: none;
    color: rgb(95, 85, 85);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

 
 
 
 /* .navbar{
    background-color: rgb(49, 45, 45);
    flex-direction: row;
    display: flex;
    justify-content: right;
    margin-right: 10px;
    height: 4rem;
    margin-top:0%;
    border-radius: 5px;


}

.navcomponents {
    display: flex;
    justify-content: space-between;
    padding: 1rem; 
    margin-bottom: 8%;
    margin-left: 15%;
    margin-right: 5%; 
    list-style-type: none;
    
}

.navcomponents li {
    margin-right: 10px;
   
}

.navcomponents a {
    text-decoration: none;
    color: white;
    margin:10;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white; 
    margin: 10; 
    margin-left: 0;
    display: left;
    margin-right:40%;
    flex-direction: row; 
} 



 */
